*{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:justify;
	color:#990000;
}

body{
	background:#adad85;
}

h1 {
	color:yellow;
	text-align:center;
	letter-spacing:15px;
	font-size:60px;
	text-shadow: 2px 2px gray;
	font-weight:bold;
	font-family:"Century Gothic", Georgia, 'Times New Roman', Times, serif;
}

h2{
	letter-spacing:5px;
	font-family:"Century Gothic", Georgia, 'Times New Roman', Times, serif;
	font-variant:small-caps;
	color:yellow;
}

a{
	text-decoration:none;
	color:yellow;
}

a:visited{
	color:blue;
}

a:hover{
	color:black;
	background:yellow;
}